.odd{
    background-color: rgb(240, 121, 121);
    font-family: Verdana, "DejaVu", sans-serif;   
}
  
#id-1{
    color: blue;
    font-size: 36px;
}

.file-1{
    font-size: 24px;
}

#id-2{
    background-color: rgb(70, 229, 70);
    font-size: 24px;
    font-weight: bold;

}

  
 
  

